<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
                <div class="float-right">
                    <section id="login">
                        <p>
                       Hello, <span class="username">@User.Identity.Name.Substring(User.Identity.Name.IndexOf("\\") + 1)</span>!&nbsp;&nbsp;
                            </p>
                    </section>
                    <nav>
                        <ul id="menu">
                        </ul>
                    </nav>
                </div>
            <div class="content-wrapper">
                <div class="site-title">
                    <a href="http://workday/"><img style="border:none;" src="../images/wd_logo.png" /></a>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <!--<p>&copy; @DateTime.Now.Year</p>-->
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>

</html>
